.lol {
    letter-spacing: 100px;
    margin-left: 500px;
    line-height: 100px;
}
.loln {
    margin-right: 100px;
}


.menu{
    background: url(../img/Nebo.png);
    background-size: 100%;
    height: 1140px;

    }

.kartinka {
    display: flex;
    justify-content: center;
}
.textonnebo {
    position: absolute;
    top: 1050px;
    left: 910px;
}

.h111 {
    display: flex;
    justify-content: center;
}
.h1111 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 800px;
    left: 36%;
}
.h1112  {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 850px;
    left: 40.5%;
}

.img_cherta {
    display: flex;
    justify-content: center;
}
.ppp {
    display: flex;
    justify-content: center;
}
.tem {
    display: flex;
    justify-content: center;
}
.con {
    display: flex;
    justify-content: center;
}
.p1 {
    display: flex;
    justify-content: center;
}
.about_us {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.about_us_card{
    width: 250px;
    height: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}